@charset "UTF-8";
@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Regular.eot");
  src: local("../fonts/Geometria Regular"), local("../fontsGeometria-Regular"), url("../fonts/Geometria-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Regular.woff2") format("woff2"), url("../fonts/Geometria-Regular.woff") format("woff"), url("../fonts/Geometria-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Medium.eot");
  src: local("../fonts/Geometria Medium"), local("../fontsGeometria-Medium"), url("../fonts/Geometria-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Medium.woff2") format("woff2"), url("../fonts/Geometria-Medium.woff") format("woff"), url("../fonts/Geometria-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Bold.eot");
  src: local("../fonts/Geometria Bold"), local("../fontsGeometria-Bold"), url("../fonts/Geometria-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Bold.woff2") format("woff2"), url("../fonts/Geometria-Bold.woff") format("woff"), url("../fonts/Geometria-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Geometria';
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.title {
  font-size: 36px;
  font-weight: 700;
  display: inline-block;
  margin: 0 auto;
  text-transform: uppercase;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 1210px) {
  .title {
    font-size: calc(22px + (14) * ((100vw - 320px) / (890)));
  }
}

.title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 3px;
  background-color: red;
  display: block;
}

.header {
  width: 100%;
  height: 75px;
  position: fixed;
  z-index: 1;
  padding: 10px 0;
  top: 0;
  left: 0;
}

@media (max-width: 554px) {
  .header {
    height: auto;
  }
}

.header.active {
  background-color: #000000ca;
}

.header__cont-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  position: relative;
}

.header__logo {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.header__logo img {
  height: 50px;
}

@media (max-width: 1230px) {
  .header__logo img {
    height: calc(37px + (13) * ((100vw - 320px) / (910)));
  }
}

.burger__wrp {
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 5;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

@media (max-width: 980px) {
  .burger__wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 554px) {
  .burger__wrp {
    top: 2px;
  }
}

.burger {
  width: 30px;
  display: block;
  height: 2px;
  background-color: #fff;
  position: absolute;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.burger.active {
  background-color: #000;
}

.burger1 {
  margin-bottom: 13px;
}

.burger1.active {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-bottom: 0;
}

.burger2.active {
  display: none;
}

.burger3 {
  margin-top: 13px;
}

.burger3.active {
  margin-top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mainMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  right: 0;
}

@media (max-width: 980px) {
  .mainMenu {
    background-color: #fff;
    padding: 20px;
    height: 100vh;
    position: fixed;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all .3s;
    transition: all .3s;
    overflow: auto;
    display: block;
    width: 350px;
    -webkit-box-shadow: -2px 4px 8px 1px rgba(34, 60, 80, 0.1);
            box-shadow: -2px 4px 8px 1px rgba(34, 60, 80, 0.1);
  }
  .mainMenu.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (max-width: 560px) {
  .mainMenu {
    width: 100%;
  }
}

.mainMenu__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  top: 0;
  height: 100%;
}

@media (max-width: 980px) {
  .mainMenu__wrp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: auto;
  }
}

@media (max-width: 980px) {
  .mainMenu__item:last-child {
    padding-bottom: 30px;
  }
}

.mainMenu__item a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 980px) {
  .mainMenu__item a {
    color: #333333;
  }
}

@media (any-hover: hover) {
  .mainMenu__item a:hover {
    color: #ff4a4a;
  }
}

.mainMenu__btn {
  color: #fff;
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  min-width: 168px;
  height: 40px;
  display: inline;
  margin-left: 20px;
  border: 3px solid #D42E12;
  padding: 10px;
}

@media (any-hover: hover) {
  .mainMenu__btn:hover {
    background-color: #ffffff2c;
  }
}

@media (max-width: 980px) {
  .main-top-btn {
    margin-right: 50px;
  }
}

@media (max-width: 420px) {
  .main-top-btn {
    display: block;
    color: #333333 !important;
    margin-left: 0;
  }
}

/*mainScreen===========================================*/
.mainScreen {
  width: 100%;
  min-height: 100vh;
  background-color: #0E0E0E;
  background-image: url(../img/motor3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 50px;
  padding-top: 27vh;
}

@media (max-width: 865px) {
  .mainScreen {
    padding-top: 22vh;
  }
}

.mainScreen__cont-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

@media (max-width: 865px) {
  .mainScreen__cont-wrp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.mainScreen__title {
  font-size: 48px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -1px;
}

@media (max-width: 1210px) {
  .mainScreen__title {
    font-size: calc(23px + (25) * ((100vw - 320px) / (890)));
  }
}

@media (max-width: 1050px) {
  .mainScreen__title br {
    display: none;
  }
}

@media (max-width: 865px) {
  .mainScreen__title {
    max-width: 550px;
    margin-bottom: 18px;
  }
}

.mainScreen .main-btn {
  margin-left: 0;
  margin-top: 30px;
  height: 50px;
  width: 280px;
}

@media (max-width: 865px) {
  .mainScreen .main-btn {
    width: 550px;
  }
}

@media (max-width: 585px) {
  .mainScreen .main-btn {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .mainScreen .main-btn {
    margin-top: 20px;
    height: 45px;
  }
}

.mainScreen__items-wrp {
  background-color: #940909bd;
  padding: 20px;
  border-radius: 3px;
}

@media (max-width: 1050px) {
  .mainScreen__items-wrp {
    min-width: 45%;
  }
}

@media (max-width: 865px) {
  .mainScreen__items-wrp {
    width: 550px;
  }
}

@media (max-width: 580px) {
  .mainScreen__items-wrp {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .mainScreen__items-wrp {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.mainScreen__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.mainScreen__item:not(:last-child) {
  margin-bottom: 25px;
}

@media (max-width: 500px) {
  .mainScreen__item img {
    width: 50px;
  }
}

.mainScreen__item h3 {
  color: #fff;
  font-weight: 400;
}

@media (max-width: 500px) {
  .mainScreen__item h3 {
    font-size: 16px;
  }
}

/*SERVICES=================================*/
.services {
  width: 100%;
  min-height: 600px;
  padding: 50px 0;
  background-image: url(../img/serv-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1230px) {
  .services {
    padding-top: calc(30px + (20) * ((100vw - 320px) / (910)));
  }
}

@media (max-width: 1230px) {
  .services {
    padding-bottom: calc(30px + (20) * ((100vw - 320px) / (910)));
  }
}

.services__title {
  color: #1D1D1D;
  text-align: center;
}

.services__cards-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.services__card-item {
  width: 290px;
  height: 230px;
  background-color: #f2f2f2;
  position: relative;
  padding: 20px;
  -webkit-box-shadow: -1px 2px 8px 2px rgba(34, 60, 80, 0.08);
          box-shadow: -1px 2px 8px 2px rgba(34, 60, 80, 0.08);
}

.services__card-item img {
  position: absolute;
}

.services__card-item:nth-child(1) img {
  right: 0;
  bottom: 0;
}

.services__card-item:nth-child(2) img {
  right: 10px;
  bottom: 10px;
}

.services__card-item:nth-child(3) img {
  right: 0px;
  bottom: 10px;
}

.services__card-item:nth-child(4) img {
  right: 0px;
  bottom: 0px;
}

.services__card-item:nth-child(5) img {
  right: 0px;
  bottom: 0px;
}

.services__card-item:nth-child(6) img {
  right: 0px;
  bottom: 15px;
}

.services__card-item:nth-child(7) img {
  right: 10px;
  bottom: 10px;
}

.services__card-item:nth-child(8) img {
  right: 0px;
  bottom: 0px;
}

.services__card-item:nth-child(9) img {
  right: 0px;
  bottom: 10px;
}

.services__card-item:nth-child(10) img {
  right: 20px;
  bottom: 0px;
}

.services__card-item:nth-child(11) img {
  right: 20px;
  bottom: 8px;
}

.services__card-item:nth-child(12) img {
  right: 0px;
  bottom: 0px;
}

/* ABOUT====================================== */
.about {
  width: 100%;
  min-height: 500px;
  padding: 50px 0;
  background-image: url(../img/bg-about.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1230px) {
  .about {
    padding-top: calc(30px + (20) * ((100vw - 320px) / (910)));
  }
}

@media (max-width: 1230px) {
  .about {
    padding-bottom: calc(30px + (20) * ((100vw - 320px) / (910)));
  }
}

.about__title {
  color: #fff;
}

.about__cont-wrp {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

@media (max-width: 1230px) {
  .about__cont-wrp {
    margin-top: calc(40px + (20) * ((100vw - 320px) / (910)));
  }
}

.about__cont-wrp img {
  height: 250px;
  width: 260px;
}

@media (max-width: 540px) {
  .about__cont-wrp img {
    height: 200px;
    width: 210px;
    margin: 0 auto;
  }
}

@media (max-width: 750px) {
  .about__cont-wrp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
}

.about__text-wrp {
  width: 745px;
  border: 3px solid red;
  padding: 30px;
  background-color: #00000067;
}

.about__text-wrp p {
  color: #fff;
  font-size: 16px;
  line-height: 1.3;
}

@media (max-width: 750px) {
  .about__text-wrp {
    width: 100%;
    padding: 15px;
  }
}

.about .about-btn {
  width: 215px;
  height: 50px;
  margin-left: 0;
  margin-top: 28px;
}

@media (max-width: 540px) {
  .about .about-btn {
    width: 100%;
  }
}

.advantages {
  width: 100%;
  min-height: 400px;
  padding: 50px 0;
}

@media (max-width: 1230px) {
  .advantages {
    padding-top: calc(30px + (20) * ((100vw - 320px) / (910)));
  }
}

@media (max-width: 1230px) {
  .advantages {
    padding-bottom: calc(30px + (20) * ((100vw - 320px) / (910)));
  }
}

.advantages__cards-wrp {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}

@media (max-width: 1230px) {
  .advantages__cards-wrp {
    gap: calc(20px + (30) * ((100vw - 920px) / (310)));
  }
}

@media (max-width: 910px) {
  .advantages__cards-wrp {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    gap: 20px;
  }
}

@media (max-width: 610px) {
  .advantages__cards-wrp {
    -ms-grid-columns: (auto)[1];
        grid-template-columns: repeat(1, auto);
  }
}

.advantages__card-item {
  width: 280px;
  height: 242px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: -1px 2px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: -1px 2px 8px 0px rgba(34, 60, 80, 0.2);
  padding: 15px 10px;
  border-radius: 5px;
}

.advantages__card-item img {
  height: 65px;
}

.advantages__card-item h3 {
  margin-bottom: 5px;
  text-align: center;
}

.advantages__card-item p {
  line-height: 1.3;
  text-align: center;
}

/* Попап с формой */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba(12, 12, 12, 0.758);
  padding-top: 120px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.overlay h3 {
  margin-bottom: 20px;
  color: #333333;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.form {
  width: 364px;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
  padding: 40px 15px;
  border-radius: 3px;
}

@media (max-width: 390px) {
  .form {
    width: 95%;
  }
}

.form label {
  display: block;
}

.form input:not(:last-child) {
  margin: 0;
  margin-bottom: 20px;
}

.form input:active, .form input:focus {
  outline: none;
}

.cross {
  position: absolute;
  right: 7px;
  top: 7px;
  cursor: pointer;
  font-size: 20px;
}

.input__name, .input__tel, .form__btn {
  max-width: 100%;
  width: 100%;
  border: 1px solid #8f8f8f;
  display: block;
  height: 40px;
  border-radius: 3px;
  padding: 10px;
}

#input__email {
  display: none;
}

#input__email.active {
  display: block;
}

.form__btn {
  border: none;
  background-color: #313131;
  color: #fff;
  cursor: pointer;
  -webkit-transition: background .3s;
  transition: background .3s;
  padding: 0;
  margin-top: 20px;
}

.form__btn:hover {
  background-color: #000;
}

.popup-btn {
  width: 200px;
  height: 45px;
  color: #fff;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */